:root{
  --mainColor: #188054;
  
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #e7e7e7;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Inter";
}

button,
a{
  font-family: "Inter", 'Roboto', sans-serif;
}

li,
ol{
  list-style: none;
}