.section-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    color: var(--mainColor);
}
.section-form-header{
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    
    color: var(--mainColor);
    
}
.form-switch{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #57A081;
}
.switch-point{
    cursor: pointer;
}
.switch-point.active{
    color: var(--mainColor);

    border-bottom: 2px solid var(--mainColor);
}
.enter-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 500px;
    height: 200px;
    padding: 40px 50px;

    border: 2px solid var(--mainColor);
    border-radius: 15px;
}
.input-block{
    display: flex;
    flex-direction: column;
}
.enter-label{
    margin-bottom: 5px;

    font-size: 16px;
    line-height: 19px;
    
    color: var(--mainColor) !important;
}
.enter-input *{
    border-color: var(--mainColor) !important;
}
.enter-input label{
    color: var(--mainColor) !important;
}
.enter-input::after{
    border-bottom: 2px solid var(--mainColor) !important;
}

.form-button{
    padding: 8px 20px;
    width: 117px;
    
    font-size: 16px;
    color: var(--mainColor);

    border: 2px solid var(--mainColor);
    border-radius: 8px;
    background: transparent;
}